@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'), url(YA9dr0Wd4kDdMthROCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a, 
a:visited {
    transition-property: border-bottom, border-color, background, color, fill;
    transition-duration: 0.33s;
    transition-timing-function: ease-out;
    color: #0064a8;
    border-bottom: 1px solid rgba(0,100,168,0.2);
    text-decoration: none;
}

a:hover {
    color: #fb3347;
    border-bottom: 1px solid #fb3347
}

hr {
    background-color: #d4d3d3;
    border: 0;
    height: 1px;
    margin: 15px 0;
}

.about_forphone {
    display: none;
    width: 100%;
}

.about {
    display: flex;
}

.about-desktop {
    width: calc(800px - 95px);
}

.about_desktop--name,
.about_forphone--name {
    margin: 0 0 -20px;
}

.about_desktop--postion,
.about_forphone--position {
    margin-top: 0;
}

.about_desktop--userpic, .about_forphone--userpic {
    background: url("assets/ichigo.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;
    min-width: 80px;
    margin-right: 15px;
    width: 80px;
    height: 80px;
}

@media (max-width: 620px) {
    .about {
        flex-direction: column; 
    }

    .about_forphone {
        display: flex;
    }

    .about_desktop--userpic, .about_desktop--name, .about_desktop--position {
        display: none;
    }

    .about_forphone--name {
        margin-top: 5px;
        margin-bottom: 0px;
    }
}

.posts__header, .about_desktop--components {
    margin: 0 0 -5px;
}

.posts__title {
    margin-bottom: 10px;
}

.footer {
    margin: 25px 0 25px;
}

figcaption {
    font-style: italic;
    color: #818181;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 0;
}

@media (max-width: 800px) {
    img {
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
}

td, th {
    border: 1px solid #ccc;
    padding: 15px;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}

.preload {
    width: 0;
    height: 0;
}

code:not([class*="language-"]) {
    font-weight: 400;
    color: #000;
    word-break: break-word;
    background-color: #f6f6f6;
    display: inline-block;
    padding: 3px 1px;
    border-radius: 2px;
}

li {
    margin-bottom: 8px;
    font-weight: 400;
}

pre { 
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    padding: 15px calc((100vw - 800px) / 2);
}

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],pre[class*="language-"]{
    color: #c5c8c6;
    text-shadow:0 1px rgba(0, 0, 0, 0.3);
    font-family:"Fira Code", Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
    direction:ltr;
    text-align:left;
    white-space:pre;
    word-spacing:normal;
    word-break:normal;
    line-height:1.3;
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4;
    -webkit-hyphens:none;
    -ms-hyphens:none;
    hyphens:none
}
pre[class*="language-"]{
    overflow:auto
}
:not(pre) > code[class*="language-"],pre[class*="language-"]{
    background: #1d1f21;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #7C7C7C;
}

.token.punctuation {
    color: #c5c8c6;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.keyword,
.token.tag {
    color: #96CBFE;
}

.token.class-name {
    color: #FFFFB6;
    text-decoration: underline;
}

.token.boolean,
.token.constant {
    color: #99CC99;
}

.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.number {
    color: #FF73FD;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #A8FF60;
}

.token.variable {
    color: #C6C5FE;
}

.token.operator {
    color: #EDEDED;
}

.token.entity {
    color: #FFFFB6;
    /* text-decoration: underline; */
}

.token.url {
    color: #96CBFE;
}

.language-css .token.string,
.style .token.string {
    color: #87C38A;
}

.token.atrule,
.token.attr-value {
    color: #F9EE98;
}

.token.function {
    color: #DAD085;
}

.token.regex {
    color: #E9C062;
}

.token.important {
    color: #fd971f;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}




