* {
	-webkit-box-sizing: border-box;
    		box-sizing: border-box;
}

::after, ::before {
    -webkit-box-sizing: inherit;
    		box-sizing: inherit;
}

body {
	margin: 0;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: calc(18px + .1vw);
	overflow-x: hidden;
	line-height: 1.6;
}

@media (max-width: 1366px) {
	html {
		font-size: calc(16px + .1vw);
	}
}

::selection {
	background-color: #ff0;	
}

.header {
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url(https://j-heavy.ru/anime.jpg) center no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

.header:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.65);
    z-index: 2;
    height: 75vh;
}

.header_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 3;
	padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 860px;
}

.header_title {
	font-family: 'Kalam', cursive;
	font-size: 3rem;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 6px rgb(0, 0, 0);
}

.header_post--title {
	font-weight: bold;
	font-size: 2.5rem;
	color: rgb(255, 255, 255);
    text-shadow: 0 0 6px rgb(0, 0, 0);
}

.header_post--date {
	color: rgb(255, 255, 255);
	text-transform: uppercase;
    letter-spacing: .8px;
}

.toggle-button {
	z-index: 4;
	position: absolute;
    width: 100%;
    text-align: left;
    left: 7px;
    top: 7px;
    font-size: 28px;
}

.toggle-button a, .toggle-button a:hover, .toggle-button a:visited {
    border: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main-wrapper {
	padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 840px;
}

a, 
a:visited {
    transition-property: border-bottom, border-color, background, color, fill;
    transition-duration: 0.33s;
    transition-timing-function: ease-out;
    color: #0064a8;
    border-bottom: 1px solid rgba(0,100,168,0.2);
    text-decoration: none;
    text-decoration-skip: none
}

a:hover {
    color: #fb3347;
    border-bottom: 1px solid #fb3347
}

hr {
    background-color: #d4d3d3;
    border: 0;
    height: 1px;
    margin: 15px 0;
}

.about_forphone {
	display: none;
	width: 100%;
}

.about {
	display: flex;
}

.about-desktop {
	width: calc(800px - 95px);
}

.about_desktop--name,
.about_forphone--name {
	margin: 0 0 -20px;
}

.about_desktop--postion,
.about_forphone--position {
	margin-top: 0;
}

.about_desktop--userpic, .about_forphone--userpic {
	background: url("https://j-heavy.ru/ichigo.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;
    min-width: 80px;
    margin-right: 15px;
    width: 80px;
    height: 80px;
}

@media (max-width: 620px) {
	.about {
		flex-direction: column; 
	}

	.about_forphone {
		display: flex;
	}

	.about_desktop--userpic, .about_desktop--name, .about_desktop--position {
		display: none;
	}

	.about_forphone--name {
		margin-top: 5px;
		margin-bottom: 0px;
	}
}

.posts {
	margin-bottom: 30px;
}

.posts__header, .about_desktop--components {
	margin: 0 0 -5px;
}

.posts__title {
	margin-bottom: 10px;
}

.footer {
    margin: 25px 0 25px;
}

figcaption {
    font-style: italic;
    color: #818181;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 0;
}

@media (max-width: 800px) {
    img {
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
}

td, th {
    border: 1px solid #ccc;
    padding: 15px;
}

li {
    margin-bottom: 8px;
    font-weight: 400;
}

.footer_social {
    display: flex;
    flex-direction: column;
    width: 50px;
}

.footer_social a, .footer_socia a:visited {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    border: none;
    text-transform: uppercase;
    color: #4f4f4f;
    letter-spacing: .1rem;
    line-height: 32px;
    font-weight: 500;
}

.footer_social a:hover {
    border: none;
    text-transform: uppercase;
    color: #9e9e9e;
}

.footer_copyright {
    display: flex;
    justify-content: center;
}

.footer_copyright--text {
    color: rgba(29,29,29,.3);
}


figure {
    margin: 0 0;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}
.hll { background-color: #49483e }
pre { background: #272822; color: #f8f8f2 }
.c { color: #75715e } /* Comment */
.err { color: #960050; background-color: #1e0010 } /* Error */
.k { color: #66d9ef } /* Keyword */
.l { color: #ae81ff } /* Literal */
.n { color: #f8f8f2 } /* Name */
.o { color: #f92672 } /* Operator */
.p { color: #f8f8f2 } /* Punctuation */
.cm { color: #75715e } /* Comment.Multiline */
.cp { color: #75715e } /* Comment.Preproc */
.c1 { color: #75715e } /* Comment.Single */
.cs { color: #75715e } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gs { font-weight: bold } /* Generic.Strong */
.kc { color: #66d9ef } /* Keyword.Constant */
.kd { color: #66d9ef } /* Keyword.Declaration */
.kn { color: #f92672 } /* Keyword.Namespace */
.kp { color: #66d9ef } /* Keyword.Pseudo */
.kr { color: #66d9ef } /* Keyword.Reserved */
.kt { color: #66d9ef } /* Keyword.Type */
.ld { color: #e6db74 } /* Literal.Date */
.m { color: #ae81ff } /* Literal.Number */
.s { color: #e6db74 } /* Literal.String */
.na { color: #a6e22e } /* Name.Attribute */
.nb { color: #f8f8f2 } /* Name.Builtin */
.nc { color: #a6e22e } /* Name.Class */
.no { color: #66d9ef } /* Name.Constant */
.nd { color: #a6e22e } /* Name.Decorator */
.ni { color: #f8f8f2 } /* Name.Entity */
.ne { color: #a6e22e } /* Name.Exception */
.nf { color: #a6e22e } /* Name.Function */
.nl { color: #f8f8f2 } /* Name.Label */
.nn { color: #f8f8f2 } /* Name.Namespace */
.nx { color: #a6e22e } /* Name.Other */
.py { color: #f8f8f2 } /* Name.Property */
.nt { color: #f92672 } /* Name.Tag */
.nv { color: #f8f8f2 } /* Name.Variable */
.ow { color: #f92672 } /* Operator.Word */
.w { color: #f8f8f2 } /* Text.Whitespace */
.mf { color: #ae81ff } /* Literal.Number.Float */
.mh { color: #ae81ff } /* Literal.Number.Hex */
.mi { color: #ae81ff } /* Literal.Number.Integer */
.mo { color: #ae81ff } /* Literal.Number.Oct */
.sb { color: #e6db74 } /* Literal.String.Backtick */
.sc { color: #e6db74 } /* Literal.String.Char */
.sd { color: #e6db74 } /* Literal.String.Doc */
.s2 { color: #e6db74 } /* Literal.String.Double */
.se { color: #ae81ff } /* Literal.String.Escape */
.sh { color: #e6db74 } /* Literal.String.Heredoc */
.si { color: #e6db74 } /* Literal.String.Interpol */
.sx { color: #e6db74 } /* Literal.String.Other */
.sr { color: #e6db74 } /* Literal.String.Regex */
.s1 { color: #e6db74 } /* Literal.String.Single */
.ss { color: #e6db74 } /* Literal.String.Symbol */
.bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.vc { color: #f8f8f2 } /* Name.Variable.Class */
.vg { color: #f8f8f2 } /* Name.Variable.Global */
.vi { color: #f8f8f2 } /* Name.Variable.Instance */
.il { color: #ae81ff } /* Literal.Number.Integer.Long */
