* {
  box-sizing: border-box
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
}

body {
  margin: 0; 
  padding: 0;
  background-image: url(assets/anime.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 100vh;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 22px;
}

.main {
  text-align: center;
  margin: auto;
  justify-content: center;
  max-width: 840px;
  padding: 0 20px;
}

.pic {
  background: url(ichigo.jpg) no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: auto;
  width: 200px;
  height: 200px;
}

a, a:visited {
  transition-property: border-bottom, border-color, background, color, fill;
  transition-duration: .33s;
  transition-timing-function: ease-out;
  color: #0064a8;
  border-bottom: 1px solid rgba(0,100,168,0.2);
  text-decoration: none;
}

a:hover {
  color: #fb3347;
  border-bottom: 1px solid #fb3347;
}