<script>
	(function() {
		el = document.getElementById('disqus_thread')

		window.addEventListener('scroll', checkPosition)
		window.addEventListener('load', checkPosition)

		function checkPosition () {
	    	var rect = el.getBoundingClientRect()
	    	if (rect.top < window.innerHeight) {
	        	window.removeEventListener('scroll', checkPosition)
	        	window.removeEventListener('load', checkPosition)
	        	loadDisqus()
	   		}
		}

		function loadDisqus {
			var disqus_config = function () {
				this.page.url = {{ page.url }};  
				this.page.identifier = {{ page.id }}; 
			};

			(function() { 
				var d = document, s = d.createElement('script');
				s.src = 'https://heavy-s-blog.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		};
	})();
</script>
