<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<!-- <script>
	(function () {
		var el = document.getElementById('disqus_thread');

		window.addEventListener('scroll', checkPosition);
		window.addEventListener('load', checkPosition);

		function checkPosition () {
	    	var rect = el.getBoundingClientRect()
	    	if (rect.top < window.innerHeight) {
	        	window.removeEventListener('scroll', checkPosition);
	        	window.removeEventListener('load', checkPosition);
	        	loadDisqus();
	   		}
		};

		function loadDisqus (){
			var disqus_config = function () {
				this.page.url = document.location.href;  
				this.page.identifier = "{{ page.id }}"; 
			};
			var d = document, s = d.createElement('script');
			s.src = 'https://heavy-s-blog.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		};
	})();
</script>  -->
