	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<title>{{ page.title }}</title>

	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:image" content="{{ page.cover_url }}" >

	<meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
	
	<meta name="theme-color" content="#FFFFFF">
    <meta name="msapplication-navbutton-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">

	<link rel="shortcut icon" href="/assets/favicon.ico" type="image/png">

	<link rel="subresource" href="/style.css">
	<link rel="prefetch" href="assets/YA9dr0Wd4kDdMthROCc.woff2">

	{%- include critical.html -%}

	{% for post in site.posts %}
		<link rel="prerender" href="//j-heavy.ru">
        <link rel="prerender" href="{{ post.url }}">
    {% endfor %}

	<link rel="dns-prefetch" href="//j-heavy.ru">
	<link rel="dns-prefetch" href="//yastatic.net">

	<link rel="preconnect" href="//j-heavy.ru" crossorigin>

	<link rel="stylesheet" href="/style.css" media="none" onload="if(media!='all')media='all'">
	<noscript><link rel="stylesheet" href="/style.css"></noscript>