---
layout: compress
---
<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kalam">
{%- include head.html -%}
</head>
<body>
  {%- include preload.html -%}
  <div class="header">
    <div class="header_wrapper">
      <p class="header_title">{{ site.title }}</p>
    </div>
  </div>
  <div class="main-wrapper">
    <div class="about">
      <div class="about_forphone">
        <div class="about_forphone--userpic"></div>
        <div class="about_forphone--block">
          <h2 class="about_forphone--name">{{ site.author }}</h2>
          <p class="about_forphone--position">Front-end developer</p>
        </div>
      </div>
      <div class="about_desktop--userpic"></div>
      <div class="about_desktop">
        <h2 class="about_desktop--name">{{ site.author }}</h2>
        <p class="about_desktop--position">Front-end developer</p>
        <hr>
        <p>Занимаюсь Front-end разработкой, пишу скриптики с ~2015 года. Здесь выкладываю посты о разработке, оптимизации и прочем, пишу редко, в основном по будням. Люблю jQuery, но мне запрещают на нём писать :( <br><br>
        По любым вопросам: <a href="https://t.me/{{ site.telegram_username }}" target="_blank">telegram</a><br>
        Мои творения: <a href="https://github.com/{{ site.github_username }}" target="_blank">github</a>
        <h2 class="about_desktop--components">Мои инструменты</h2>
        <ul>
          <li>JS (React & Redux)</li>
          <li>Node.js</li>
          <li>Python</li>
        </ul>
        <div class="posts">
          <h2 class="posts__header">Посты</h2>
          <ul>
            {% for post in site.posts %}
              <li class="posts__title"><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>