---
layout: compress
---
<!DOCTYPE html>
<html lang="ru">
<head>
<script src="main.js" async></script>
{%- include head.html -%}
<body>
  <div class="header">
    <span class="toggle-button">
      <a href="/" title="Все записи">&#9776</a>
    </span>
    <div class="header_wrapper">
      <span class="header_post--title">{{ page.title }}</span>
      <p class="header_post--date">{% include date.html date=page.date %}</p>
    </div>
  </div>
  <div class="main-wrapper">
    {{ page.content }}
    <hr>
    <div id="disqus_thread"></div>
  </div>
{%- include preload.html -%}
</body>
</html>