---
layout: compress
---
<!DOCTYPE html>
<html lang="ru">
<head>
{%- include head.html -%}
<body>
  {%- include preload.html -%}
  <div class="header">
    <span class="toggle-button">
      <a href="/" title="Все записи">&#9776</a>
    </span>
    <div class="header_wrapper">
      <span class="header_post--title">{{ page.title }}</span>
      <p class="header_post--date">{% include date.html date=page.date %}</p>
    </div>
  </div>
  <div class="main-wrapper">
    {{ page.content }}
    <hr>
    <div id="disqus_thread"></div>
<script>
  (function () {
    var el = document.getElementById('disqus_thread');

    window.addEventListener('scroll', checkPosition);
    window.addEventListener('load', checkPosition);

    function checkPosition () {
        var rect = el.getBoundingClientRect()
        if (rect.top < window.innerHeight) {
            window.removeEventListener('scroll', checkPosition);
            window.removeEventListener('load', checkPosition);
            loadDisqus();
        }
    };

    function loadDisqus (){
      var disqus_config = function () {
        this.page.url = document.location.href;  
        this.page.identifier = "{{ page.id }}"; 
      };
      var d = document, s = d.createElement('script');
      s.src = 'https://heavy-blog.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    };
  })();
</script>  
  </div>
</body>
</html>