---
layout: compress
---
<!DOCTYPE html>
<html lang="ru">
<head>
{%- include head.html -%}
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css">
<body>
  {%- include preload.html -%}
  <div class="header">
    <span class="toggle-button">
      <a href="/" title="Все записи">&#9776</a>
    </span>
    <div class="header_wrapper">
      <span class="header_post--title">{{ page.title }}</span>
      <p class="header_post--date">{% include date.html date=page.date %}</p>
    </div>
  </div>
  <div class="main-wrapper">
    {{ page.content }}
    <hr>
  </div>
  {%- include disqus_comments.html -%}
</body>
</html>